<div class="box request_card">
    <svg class="request_card__cross" id="request_card__cross">
        <use xlink:href="/icons.svg#cross"/>
    </svg>
    <div class="enter_sign">{{sign}}</div>
    <form method="post" id="request_card" class="request_card_wrapper">
        <div class="request_card__inputs_wrapper">
            <select id="emploee_form" class="select_menu">
                {{#each emploees}}
                <option data-em-id={{this.ID}}>{{this.Name}} {{this.Surname}} {{this.Fathername}}</option>
                {{/each}}
            </select>
            <select id="equipment_form" class="select_menu">
                {{#each equipment}}
                <option data-eq-id={{this.ID}}>{{this.Name}}</option>
                {{/each}}
            </select>
            <input type="date" id="request_card__from_date" name="request_card__from_date"
                {{#if from}}
                value="{{from}}"
                {{/if}}
                {{#if min_from_date_value}}
                min="{{min_from_date_value}}"
                {{/if}}
                {{#if max_from_date_value}}
                max="{{max_from_date_value}}"
                {{/if}}
                class="request_card__date_form"
            />
            <input type="date" id="request_card__to_date" name="request_card__to_date"
                {{#if to}}
                value="{{to}}"
                {{/if}}
                {{#if min_to_date_value}}
                min="{{min_to_date_value}}"
                {{/if}}
                {{#if max_to_date_value}}
                max="{{max_to_date_value}}"
                {{/if}}
                class="request_card__date_form"
            />
        </div>
        <input class="accent_button button horizontal_center_div" type="button" value="Сохранить" id="request_card__submit_button">
        </form>
</div>